<div id="messageModal" class="modal-overlay hidden">

    <div class="message-modal">

        <h3 id="modalTitulo"></h3>

        <p id="modalMensagem"></p>

        <div class="modal-actions">

            <button id="btnModalOk">
                OK
            </button>

            <button id="btnModalCancel" class="hidden">
                Cancelar
            </button>

        </div>

    </div>

</div>