<header class="header">

    <div class="container header-content">
        <div class="auth-box">

            <input id="loginUsuario"
                   type="text"
                   placeholder="Usuário" />

            <input id="loginSenha"
                   type="password"
                   placeholder="Senha" />

            <button onclick="autenticarApi()">
                Autenticar API
            </button>

            <div class="api-status">

                <span id="statusDot" class="dot offline"></span>

                <span id="statusText">
                    API Não autenticada
                </span>

            </div>

        </div>

    </div>

</header>