.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.modal-content {
    width: 500px;
    background: white;
    border-radius: 12px;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
